/* Esto es la paleta de colores, basicamente son variables pa cambiar los colores de muchas cosas en 1 linea, para usar las variables lo ven abajo pero es: var(nombre)*/
:root {
  --color-primario: #52050A; /*no se usa*/
  --color-secundario: #A30000; /*header y footer*/
  --color-terciario: #B0B3B3; /*sections*/
  --color-cuaternario: #E0E0E0; /*fondo del body*/
  --color-quintario: #AF9FA5; /*no se usa*/
  --color-texto: #000; /*textos y svgs*/
  --color-texto-contrario: #FFF; /*textos y svgs*/
}

/*Paleta de colores para el modo oscuro*/
.dark-mode {
  --color-primario: #52050A; /*no se usa*/
  --color-secundario: #141414;
  --color-terciario: #212529;
  --color-cuaternario: #000;
  --color-quintario: #AF9FA5; /*no se usa*/
  --color-texto: #FFF;
  --color-texto-contrario: #000;
}


.body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto auto 1fr auto;
  background-color: var(--color-cuaternario);
  color: var(--color-texto);
  transition: background-color 0.3s ease, color 0.3s ease; /* Transición suave al poner modo oscuro*/
}

.banner {
  width: 100%;
  height: 15vh;
}

.banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

/* Header e imagen */
.header {
    position: relative;
    height: 300px;
    margin-bottom: 20px;
    overflow: hidden;
    
}

.header-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
    filter: brightness(0.5);
    
}

/* Estilo para el contenedor del logo debajo del nav */



/* Navegación */
.nav-bar {
   position: fixed; /* Barra fija en la parte superior */
  top: 0;
  left: 0;
  width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  z-index: 1000;
}

.nav-links {
    display: flex;
    gap: 2rem;
}

.nav-links a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
    padding: 0.5rem 1rem;
    border-radius: 4px;
}

.nav-links a:hover {
    background-color: green;
    color: #fff;
}




.container-mdo {
  display: flex; /* Permite alinear el contenido con Flexbox */
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
     
  }


.switch {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 40px;
  height: 20px;
  border: 2px solid rgb(134, 145, 169);
  display: flex;
  
  align-items: center; /* Centra el slider verticalmente */
  border-radius: 35px;
  cursor: pointer; /* Añade un cursor para mejorar la interacción */
}

.slider {
  position: absolute; /* Posicionamiento absoluto dentro del switch */
  top: 50%; /* Centra verticalmente */
  
  transform: translateY(-50%); /* Ajuste fino para centrar exactamente */
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background-color: rgb(94, 156, 207);
  transition: transform 0.3s ease; /* Animación suave */
}
input:checked + .slider {
  transform: translate(16px, -50%); /* Desplaza hacia la derecha al activarse */
}
.checkbox{
    display: none;
}
.hamburger {
    display: none;
    cursor: pointer;
    font-size: 1.5rem;
    z-index: 2;
    background: none;
    border: none;
    color: #ffffff;
}


#carouselExample {
  width: 100%;
  height: 250px;
  margin-top: 0;
}

.carousel-inner {
  height: 250px;
}

.carousel-inner div img {
  height: 250px; /* Altura para pantallas pequeñas */
  width: 100%; /* Asegura que la imagen ocupe todo el ancho */
  object-fit: cover; /* Mantiene la proporción de la imagen */
}

.section {
  display: flex;
  flex-wrap: wrap;
  height: auto;
  gap: 5%;
  padding: 20px;
  margin-bottom: 100px;
  scroll-margin-top: 50px; /*al hacer scroll mediante los links internos agrega un poco de espacio arriba, sin esto el contenido se tapa por el header fixeado*/
}

.section-title {
  width: 100%;
  color: var(--color-texto);
  padding: 10px 0;
  text-align: center;
}

.section-item {
  background-color: var(--color-terciario);
  flex-grow: 1;
  flex: 1;
  min-width: 250px;
  border-radius: 15px;
  padding: 20px;
  margin-bottom: 20px;
}

.section-item-title {
  width: 100%;
  color: var(--color-texto);
  padding: 10px 0;
  text-align: center;
  font-size: 22px;
}

.section-item-img {
  padding: 0;
}

.section-item-img img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  object-fit: cover;
}

.footer {
  background-color: var(--color-secundario); /* Color de fondo del footer */
  padding: 20px;
  display: flex;
  flex-direction: columns;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
}

.footer p {
  flex-basis: 300px;
}

.redes-sociales {
  flex-basis: 300px;
}

.redes-sociales a {
  color: inherit;
  cursor: pointer;
}

/* Media Query para pantallas más grandes */
@media (min-width: 800px) {
  main {
    width: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    justify-self: center;
  }
  
  #carouselExample {
    width: 80%;
    height: 400px;
  }

  .carousel-inner {
    height: 400px;
  }

  .carousel-inner div img {
    height: 400px;
  }
}

/* Media Query para pantallas más pequeñas */
@media (max-width: 799px) {
  .section {
    flex-direction: column; /* Cambiar a columna en pantallas más pequeñas */
  }
  .footer {
    margin-top: 30px;
  }
}

/* Media Query para que el banner se vea mejor*/
@media (min-width: 1000px) {
  .banner {
    min-height: 25vh;
  }
}

/*innecesario creo, lo dejo por si acaso
@media (min-width: 580px) {
  .footer {
    margin-top: 80px;
}*/
